html,
body {
    height: 100%;
    width: 100%;
    background-color: #0f0e17;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #f25f4c;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1.2s linear infinite;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}